<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuarios</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Usuarios</h1>
      <div class="formulario">
      <a href="/usuario/lista_usuario" class="btn-lista">Lista de Usuarios</a>
      <a href="/usuario/new" class="btn-cadastrar">Cadastrar Usuario</a>
    </div>
    </div>
  </body>
</html>
